.container{
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    width:300px;
    border-radius: 10px;
    background-color: aqua;
}

.container img{
    width:100%;
    height:60%;
}
.container .text-container{
    height:30%px;
}